* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar ul{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: black;
    color: white;
}

.navbar li{
    list-style-type: none;
    padding: 1rem;
}

.navbar a{
 text-decoration: none;   
 color: white;
}

.navbar-logo{
flex: 1;
font-size: 1.5rem;
user-select: none;
}

.navbar-toggle{
    display: none;
}

.navbar-links:hover{
    border-radius: 34px;
background-color: blueviolet;
}

.navbar-links:hover a{
    color: black;
}

.flex-container{
    background-color: black;
    color: antiquewhite;
    margin-top: 30px;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
}

.box-1{
    width: 300px;
    height: 300px;
    border: 1px dotted chocolate;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

h2{
color: coral;
}

@media (max-width: 900px) {

    .navbar-logo{
        color: rgb(254, 198, 67);
        font-size: 1.40rem;
    }

    .navbar ul {
    background-color: brown;
    }

    .navbar-links:hover{
        border-radius: 34px;
    background-color: rgb(254, 198, 67);
    }

    .box-1{
        font-size: 13px;
    }

}

@media (max-width: 610px) {
    .navbar ul {
    background-color: darkgreen;
    flex-wrap: wrap;
    }

      .navbar-logo{
        color: rgb(252, 122, 29);
    }

    .navbar-toggle{
        display: block;
    }

    .navbar-links{
        display: none;
        width: 100%;
        text-align: center;
    }

    .flex-container{
        flex-wrap: wrap;
    }

    .box-1{
        font-size: 16px;
    }

}